* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(50, 50, 50);
    color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
    display: flex;
    padding-top: 5px;
    border-bottom: white 0.5px solid;
    flex: 1;
    background-color: black;
    -webkit-app-region: drag;
}

h1 {
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-right: 645px;
    flex: 0 0 auto;
}

.header-buttons {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-top: 2px;
}

.close-button, .minimal-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 5px;
    -webkit-app-region: no-drag;
}

.close-button:hover, .minimal-button:hover {
    filter: brightness(0) saturate(100%) invert(77%) sepia(5%) saturate(9%) hue-rotate(354deg) brightness(94%) contrast(89%) blur(0.4px);
}

.addbot-box {
    display: flex;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 10px;
}

.form-group label {
    width: 60px;
}

.form-group input {
    border: none;
    outline: none;
    border-bottom: white 2px solid;
    padding: 0px;
    width: 300px;
    background: none;
    color: inherit
}

.form-group-2 {
    display: flex;
    align-items: center;
    margin: 10px;
}

.form-group-2 label {
    width: 70px;
}

.form-group-2 select {
    border: none;
    outline: none;
    background: none;
    color: white
}

.form-group-3 {
    display: flex;
    align-items: center;
    margin: 10px;
}

.form-group-3 label {
    width: 140px;
}

.form-group-3 input {
    border: none;
    outline: none;
}

.form-group-4 {
    display: flex;
    align-items: center;
    margin: 10px;
}

.form-group-4 label {
    width: 185px;
}

.form-group-4 input {
    border: none;
    outline: none;
    border-bottom: white 2px solid;
    padding: 0px;
    width: 300px;
    background: none;
}

.form-group-5 {
    display: flex;
    align-items: center;
    margin: 10px;
}

.form-group-5 label {
    width: 90px;
}

.form-group-5 select {
    border: none;
    outline: none;
    background: none;
    color: white
}

.form-group-6 {
    display: flex;
    align-items: center;
    margin: 10px;
}

.form-group-6 label {
    width: 90px;
}

.form-group-6 select {
    border: none;
    outline: none;
    background: none;
    color: white
}

.connect-log {
    margin: 10px;
    width: 100%;
    height: 345px; background-color: white;
}